.content-header
  %h1 Adjuncts

.content-body
  %table
    %tr
      %th Yeast
    - for adjunct in @adjuncts
      %tr
        %td
          = adjunct.name
        %td
          = show_link adjunct
          
.content-footer
  = new_link :adjuncts
