.content-header
  %h1 Welcome back!

.content-body
  - if message.is_a?(Hash)
    %table
      %tr
      - message.each do |key, value|
        %tr
          %td
            = key
            \:
          %td= value
  - else
    Message: 
    = message
