.content-header
  %h1 Recipes

.content-body
  %table
    %tr
      %th Recipes
      %th Brewer
    - for recipe in @recipes
      %tr
        %td
          = recipe.title
        %td
          = recipe.user.name
        %td
          = link_to "Show", resource(recipe)
          
.content-footer
  = link_to "New Recipe", resource(:recipes, :new)
