.content-header
  %h1 Recipes

.content-body
  %table
    %tr
      %th Recipes
      %th Brewer
    - for recipe in @recipes
      %tr
        %td
          = recipe.title
        %td
          = recipe.user.name
        %td
          = show_link recipe
          
.content-footer
  = new_link :recipes
