.content-header
  %h1= @recipe.title
  
.content-body
  %table
    %tr
      %th
        Notes:
    %tr
      %td
        = @recipe.notes

.content-footer
  = add_separator_if(edit_link (@recipe))
  = link_to 'Back', url(:recipes)
