.content-header
  %h1= @recipe.title
  
.content-body
  %table
    %tr
      %th
        Notes:
    %tr
      %td
        = @recipe.notes

.content-footer
  = link_to "Edit Recipe", resource(@recipe, :edit)
  |
  = link_to 'Back', url(:recipes)
