-# this sets up the header and footer
div.yui-t1
  div#hd, div#ft
    text-align: center
    background-color: #ccc
  div#hd
    font-size: 18pt
    font-weight: bold

-# stles for the h tags
h1, h2
  font-weight: bold
h1
  font-size: 14pt
h2
  font-size: 12pt

-# content styling

div.content-header, div.content-footer
  text-align: center

-# nav bar styling
div.yui-b#nav-list
  text-align: center
  background-color: #ccc

-# basic yui blocks
div.yui-b
  margin-top: 1em
  margin-bottom: 1em
  min-height: 200px

