.content-header
  %h1 Fermentable

.content-body
  %table
    %tr
      %th Fermentable
    - for fermentable in @fermentables
      %tr
        %td
          = fermentable.name
        %td
          = show_link fermentable
          
.content-footer
  = new_link :fermentables
