%h1
  Ingredients controller, index action
%p
  Edit this file in
  %tt
    app/views/ingredients/index.html.erb
%table
  %tr
  - for ingredient in @ingredients
    %tr
      %td
        = link_to 'Show', url(:ingredient, ingredient)
      %td
        = link_to 'Edit', url(:edit_ingredient,  ingredient)

= link_to 'New', url(:new_ingredient)