.content-header
  %h1 Ingredients
  
.content-body
  = link_to "Fermentables", resource(:fermentables)
  %br
  = link_to "Hops", resource(:hops)
  %br
  = link_to "Adjuncts", resource(:adjuncts)
  %br
  = link_to "Yeasts", resource(:yeasts)