.content-header
  %h1
    Ingredients

.content-body
  %table
    %tr
      %th Ingredient
      %th Type
    - for ingredient in @ingredients
      %tr
        %td
          = link_to ingredient.name, resource(ingredient)
        %td
          = ingredient.type

.content-footer
  = link_to 'New', resource(:ingredients, :new)
