.content-header
  %h1
    Ingredient

.content-body
  %p
    Name:
    = @ingredient.name

.content-footer
  = link_to 'Edit', resource(@ingredient, :edit)
  |
  = link_to 'Back', resource(:ingredients)
