.content-header
  %h1
    Ingredient

.content-body
  %p
    Name:
    = @ingredient.name

.content-footer
  = add_separator_if authz_edit_link(@ingredient)
  = link_to 'Back', resource(:ingredients)
