.content-header
  %h2 Welcome!

.content-body
  %p
    The Mashery is a tool for tracking homebrew recipes and batches.  
    You can begin by clicking on the recipes or the batches link in the navigation bar.
    Have fun homebrewing!
