- require_js :jquery
- require_js :"jquery-ui"
- require_css :datepicker
- require_css :form

- jquery do
  :plain
    $(document).ready(function() {
      $('input.date_field').datepicker({
        clearText: "",
        prevText: "",
        nextText: "",
        currentText: ""
      });
    });
    

.form-content
  = text_field :started_on, :label => "Started on: ", :class => "date_field"
  %br
  = select :recipe_id, :label => "Recipe: ", :collection => Recipe.all, :text_method => :title, :value_method => :id
  %br
