%h1
  Batches controller, index action
%p
  Edit this file in
  %tt
    app/views/batches/index.html.erb
%table
  %tr
  - for batch in @batches
    %tr
      %td
        = link_to 'Show', url(:batch, batch)
      %td
        = link_to 'Edit', url(:edit_batch,  batch)

= link_to 'New', url(:new_batch)