.content-header
  %h1
    Batch from 
    = @batch.started_on

.content-body
  %p
    Recipe: 
    = link_to @batch.recipe.title, resource(Recipe.get(@batch.recipe_id))

.content-footer
  = link_to 'Edit',  url(:edit_batch,  @batch)
  |
  = link_to 'Back', url(:batches)
